.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 6px;
  min-width: 150px;
  font-weight: bold;
  padding: 3px 10px;
  display: none;
}

@media (min-width: 768px) {
  .timer {
    display: block;
  }
}
